<!DOCTYPE html>

<html lang="en">
    
    
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        
        <title>SocialULL</title>
        
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" type="image/x-icon" href="images/U.ico" />
        
        <link href="css/bootstrap.min.css" rel="stylesheet">
        
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <link href="css/login.css" rel="stylesheet">
        
    </head>
    
    
    <body>
        
            
        <div class="titulo">
            <a href="#"><img src="https://images.cooltext.com/5049677.png" alt="SocialULL"/></a>
        </div>
        
        
    
        <div id="signupbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Sign Up</div>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="/login">Sign In</a></div>
                </div>  
                <div class="panel-body" >
                    
                    <form class="form-horizontal" name="registro" onsubmit="return validar_clave()" action="/signup" method="post">
                        
                        <div class="form-group">
                            <label for="name" class="col-md-3 control-label">Nombre</label>
                            <div class="col-md-9">
                                <input required type="text" class="form-control" name="name" id="name">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="surname" class="col-md-3 control-label">Apellidos</label>
                            <div class="col-md-9">
                                <input required type="text" class="form-control" name="surname" id="surname">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="edad" class="col-md-3 control-label">Edad</label>
                            <div class="col-md-9">
                                <input required type="number" class="form-control" name="edad" id="edad">
                            </div>
                        </div>
                        
                        <!-- campo genero
                        <div class="form-group">
                            <label for="genero" class="col-md-3 control-label">Genero</label>
                            <div class="col-md-9">
                                <div class="col-md-6">
                                    <input type="radio" class="form-control" name="genero">
                                </div>
                                <div class="col-md-6">
                                    <input type="radio" class="form-control" name="genero">
                                </div>
                            </div>
                        </div>
                        -->
                        
                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">Email</label>
                            <div class="col-md-9">
                                <input required type="text" class="form-control" name="email" id="email">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="password" class="col-md-3 control-label">Password</label>    
                            <div class="col-md-9">
                                <input required type="password" class="form-control" name="password" id="password" />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="password2" class="col-md-3 control-label">Repetir Password</label>    
                            <div class="col-md-9">
                                <input required type="password" class="form-control" name="password2" id="password2"/>
                            </div>
                        </div>
   
                        
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-info" value="Submit">Sign Up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
                
                
                
                
        </div> 
        
        <footer class="footer-distributed">
            
            <div class ="row">
                
                <div class="col-md-4 col-sm-12">
    		        
    		        <h3><img src="https://images.cooltext.com/5049677.png" alt="SocialULL"/></h3>
    		        
		        </div>
		        
		        <div class="col-md-4 col-sm-12">
		            
				    <p><i class="fa fa-envelope"></i> <a href="mailto:support-socialull@gmail.com">support-socialull@gmail.com</a></p>
		        
		        </div>
                
                <div class="col-md-4 col-sm-12">
    		        
    		        
    		        <div class="footer-icons">
    
    					<a href="#"><i class="fa fa-google"></i></a>
    					<a href="#"><i class="fa fa-github"></i></a>
                        <a href="#"><i class="fa fa-info"></i></a>
                        
    				</div>
    				
    		        
    		    </div>
    		    
            </div>

		</footer>
    
        <!-- script references -->
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/login.js"></script>
        <script src="js/funciones.js"></script>
        
    </body>
</html>